<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ac.unsyiah.elektro.mobile.bimbel">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PelajarLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name2">
        </activity>
        <activity
            android:name=".BerandaPengajar"
            android:label="@string/app_name2">
        </activity>
        <activity
            android:name=".BerandaPelajar"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".PelajarDaftar"
            android:label="@string/app_name3">
        </activity>
        <activity
            android:name=".PilihPengajar"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".TambahJadwal"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".SettingPelajar"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".SettingPengajar"
            android:label="@string/app_name2">
        </activity>
    </application>

</manifest>